-# Which method? POST to dashboard controller? dashboard#office_filter?,

= form_with method: 'GET' do |f|
  = f.select :office_id, current_user.offices.map { |office| [office.name, office.id] }
  %div
    = f.label :start_date, "Start Date"
    = f.text_field :start_date, data: { controller: "flatpickr", flatpickr_date_format: "Y-m-d" }
    = f.label :end_date, "End Date"
    = f.text_field :end_date, data: { controller: "flatpickr", flatpickr_date_format: "Y-m-d" }
    -# what is rails date format?
    = f.submit
