-# Which method? POST to dashboard controller? dashboard#office_filter?,

= form_with method: 'GET' do |f|
  = f.select :office_id, current_user.offices.map { |office| [office.name, office.id] }
  %div
  = f.text_field :start_date, placeholder: "#{@start_date}", data: { controller: "flatpickr", flatpickr_date_format: "Y-m-d" }
  = f.text_field :end_date, placeholder: "#{@end_date}", data: { controller: "flatpickr", flatpickr_date_format: "Y-m-d" }
  = f.submit
