%h1 Data Breakdown
%p Select Which Office:
=render "form"

- if @office
  .grid-x.margin-vertical-1
  .cell
    %h2= "#{@office}"

    .grid-x.grid-padding-left{ data: { controller: "visibility" } }
      .cell.large-12{ data: { target: "visibility.hideableHours" }, hidden: true}
        .card
          .card-section
            .grid-x.grid-margin-x
              .cell.auto
                %h3 Most active by number of hours volunteered
              .cell.shrink
                .button{ data: { action: "click->visibility#hideHoursTargets" } } Close

            %table{class: 'hover'}
              %thead
                %tr
                  %th Role
                  %th Name
                  %th Email
                  %th Hours Volunteered
              %tbody
                - @list_of_volunteered_hours.each do |user|
                  %tr
                    %td= user[:role]
                    %td= user[:name]
                    %td= user[:email]
                    %td= user[:hours]
                %tr
                  %td
                  %td
                  %td
                    %strong Total Hours
                  %td
                    %strong= @total_volunteer_hours

      .cell.large-12{ data: { target: "visibility.hideableNeeds" }, hidden: true}
        .card
          .card-section
            .grid-x.grid-margin-x
              .cell.auto
                %h3 Most active by number of needs created
              .cell.shrink
                .button{ data: { action: "click->visibility#hideNeedsTargets" } } Close

            %table{class: 'hover'}
              %thead
                %tr
                  %th Role
                  %th Name
                  %th Email
                  %th Hours Volunteered
              %tbody
                - @list_of_volunteered_hours.each do |user|
                  %tr
                    %td= user[:role]
                    %td= user[:name]
                    %td= user[:email]
                    %td= user[:hours]

      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Hours Volunteer
            .grid-x.grid-margin-x
              .cell.auto
                %h2
                  %strong= @total_volunteer_hours
              .cell.shrink
                .button{ data: { action: "click->visibility#toggleHoursTargets" } } Expand

      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Needs Created
            .grid-x.grid-margin-x
              .cell.auto
                %h2
                  %strong= @total_volunteer_hours
              .cell.shrink
                .button{ data: { action: "click->visibility#toggleNeedsTargets" } } Expand

      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Shifts Created
            %h2
              %strong= @total_shifts_created
      .cell.small-4.small-offset-2
        .card
          .card-section
            %h2
              %strong Total Shifts Claimed
            %h2
              %strong= @total_shifts_claimed
      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_unclaimed

- else
  %h3 Please submit your form after selecting your office


-# for each attribute use this template etc
-#  if attribute x or y
-#  template1
-#  elsif all other
-#  template2
-#  else(nil?)
-#  generate warning
