%h1 Data Breakdown
%p Select Which Office:
=render "form"

- if @office
  .grid-x.margin-vertical-1
  .cell
    %h2= "#{@office}"

    .grid-x.grid-padding-left
      .cell.small-4
        .card
          .card-section
            %h2
              %strong Volunteer Hours
            %h2
              %strong= @users_active_by_shift_claimed
            .flex-container.flex-dir-row-reverse
      .cell.large-12
        .card
          #options{ data: { controller: "visibility" } }
          %h1 Toggle Visibility
          %button{ data: { action: "visibility#showTargets" } } Show All Elements
          %button{ data: { action: "visibility#hideTargets" } } Hide All Elements
          %button{ data: { action: "visibility#toggleTargets" } } Toggle Element Visibility
          %p{ data: { target: "hideable"} } The Flamboyent Thing #1
          %p
          %p{ data: { target: "hideable"} } The Slightly Stealthy Thing #2
          %p

      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Needs Created
            %h2
              %strong= @total_needs_created
      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_created
      .cell.small-4.small-offset-2
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_claimed
      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_unclaimed

- else
  %h3 Please submit your form after selecting your office
