%h1 Data Breakdown
%p Select Which Office:
=render "form"

- if @office
  .grid-x.margin-vertical-1
  .cell
    %h2= "#{@office}"

    .grid-x.grid-padding-left
      .cell.small-4
        .card
          .card-section
            %h2
              %strong Volunteer Hours
            %h2
              %strong= @users_active_by_shift_claimed

            .flex-container.flex-dir-row-reverse

      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Needs Created
            %h2
              %strong= @total_needs_created

            .flex-container.flex-dir-row-reverse

      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_created

            .flex-container.flex-dir-row-reverse

      .cell.small-4.small-offset-3
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_claimed

            .flex-container.flex-dir-row-reverse

      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_unclaimed

            .flex-container.flex-dir-row-reverse
- else
  %h3 Please submit your form after selecting your office
