%h1 Data Breakdown
%p Select Which Office:
=render "form"
%br/

.grid-x.margin-vertical-1
  .cell
    %h2= "By Office: #{@office}"

    .grid-x.grid-padding-left
      .cell.large-3
        .card
          .card-section
            %h2
              %strong Volunteer Hours
            %h2
              %strong 40

            .flex-container.flex-dir-row-reverse

      .cell.large-3
        .card
          .card-section
            %h2
              %strong Total Needs Created
            %h2
              %strong= @total_needs_created

            .flex-container.flex-dir-row-reverse

      .cell.large-3
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_created

            .flex-container.flex-dir-row-reverse

      .cell.large-3
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_claimed

            .flex-container.flex-dir-row-reverse

      .cell.large-3
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_unclaimed

            .flex-container.flex-dir-row-reverse





- if @office
  %h3="#{@office}"

  %h3 Most active by number of hours
  %table
    %thead
      %tr
        %th ID
        %th Role
        %th Name
        %th Email
        %th Hours Volunteered
    %tbody
      - @users_active_by_shift_claimed.each do |user|
        %tr
          %td= user[:id]
          %td= user[:role]
          %td= user[:name]
          %td= user[:email]
          %td= user[:hours]

  %h3 Most active by number of needs created
  %table
    %thead
      %tr
        %th ID
        %th Role
        %th Name
        %th Email
        %th Needs Created
    %tbody
      - @users_active_by_need_created.each do |user|
        %tr
          %td= user[:id]
          %td= user[:role]
          %td= user[:name]
          %td= user[:email]
          %td= user[:needs_created]

  %h3 Shifts
  %table
    %thead
      %tr
        %th Needs Created
        %th Shifts Created
        %th Filled Shifts
        %th Unfilled Shifts
    %tbody
      %tr
        %td= @total_needs_created
        %td= @total_shifts_created
        %td= @total_shifts_claimed
        %td= @total_shifts_unclaimed
- else
  %h3 Please submit your form after selecting your office
