%h1 Data Breakdown
%p Select Which Office:
=render "form"

- if @office
  .grid-x.margin-vertical-1
  .cell
    %h2= "#{@office}"

    .grid-x.grid-padding-left{ data: { controller: "visibility" } }
      .cell.large-12{ data: { target: "visibility.hideable" }, hidden: true}
        .card
          .card-section
            %h3 Most active by number of hours
            %table
              %thead
                %tr
                  %th Role
                  %th Name
                  %th Email
                  %th Hours Volunteered
              %tbody
                - @list_of_volunteered_hours.each do |user|
                  %tr
                    %td= user[:role]
                    %td= user[:name]
                    %td= user[:email]
                    %td= user[:hours]
      .cell.large-12{ data: { target: "visibility.hideable" }, hidden: true}
        .card
          .card-section
            %h3 Most active by number of needs created
            %table
              %thead
                %tr
                  %th Role
                  %th Name
                  %th Email
                  %th Hours Volunteered
              %tbody
                - @list_of_volunteered_hours.each do |user|
                  %tr
                    %td= user[:role]
                    %td= user[:name]
                    %td= user[:email]
                    %td= user[:hours]

      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Hours Volunteer
            %h2
              %strong= @total_volunteer_hours
            .flex-container.flex-dir-row-reverse
              %button{ data: { action: "visibility#toggleTargets" } } Expand

      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Needs Created
            %h2
              %strong= @total_needs_created
            .flex-container.flex-dir-row-reverse
              %button{ data: { action: "visibility#toggleTargets" } } Expand
      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_created
      .cell.small-4.small-offset-2
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_claimed
      .cell.small-4
        .card
          .card-section
            %h2
              %strong Total Shifts Unclaimed
            %h2
              %strong= @total_shifts_unclaimed

- else
  %h3 Please submit your form after selecting your office
