%h2 Office

= link_to "Total Volunteer Hours", dashboard_download_report_path(headers: ['Office ID', 'Volunteer Hours'], data_method: HOURS_BY_OFFICE.underscore, filename: HOURS_BY_OFFICE, model: 'Office', format: :csv), target: '_blank'
= link_to "Total Children Served", dashboard_download_report_path(headers: ['Office ID', 'Children Served'], data_method: CHILDREN_BY_OFFICE.underscore, filename: CHILDREN_BY_OFFICE, model: 'Office', format: :csv), target: '_blank'

%h2 State

= link_to "Total Volunteer Hours", dashboard_download_report_path(headers: ['State', 'Volunteer Hours'], data_method: HOURS_BY_STATE.underscore, filename: HOURS_BY_STATE, model: 'Office', format: :csv), target: '_blank'
= link_to "Total Children Served", dashboard_download_report_path(headers: ['State', 'Children Served'], data_method: CHILDREN_BY_STATE.underscore, filename: CHILDREN_BY_STATE, model: 'Office', format: :csv), target: '_blank'

%h2 County
= form_tag(dashboard_download_report_path(format: :csv), method: 'get') do
  - ['County', 'Volunteer Hours'].each do |header|
    = hidden_field_tag 'headers[]', header
  = hidden_field_tag :data_method, HOURS_BY_COUNTY.underscore
  = hidden_field_tag :filename, HOURS_BY_COUNTY
  = hidden_field_tag :model, 'Office'

  = label_tag(:state, 'Total Volunteer Hours')
  = select_tag :state, options_for_select(Address.distinct.pluck(:state))
  = submit_tag 'Query', data: { disable_with: false }

= form_tag(dashboard_download_report_path(format: :csv), method: 'get') do
  - ['County', 'Children Served'].each do |header|
    = hidden_field_tag 'headers[]', header
  = hidden_field_tag :data_method, CHILDREN_BY_COUNTY.underscore
  = hidden_field_tag :filename, CHILDREN_BY_COUNTY
  = hidden_field_tag :model, 'Office'

  = label_tag(:state, 'Total Childrend Served')
  = select_tag :state, options_for_select(Address.distinct.pluck(:state))
  = submit_tag 'Query', data: { disable_with: false }

%h2 User

= link_to "Total Volunteer Hours", dashboard_download_report_path(headers: ['User ID', 'Total Volunteer Hours'], data_method: HOURS_BY_USER.underscore, filename: HOURS_BY_USER, model: 'User', format: :csv), target: '_blank'

%h2 Demographic

= link_to "Total Children by Demographic", dashboard_download_report_path(headers: ['Preferred Language', 'Number of Children'], data_method: CHILDREN_BY_DEMO.underscore, filename: CHILDREN_BY_DEMO, model: 'Office', format: :csv), target: '_blank'
= link_to "Total Volunteers Grouped By Race", dashboard_download_report_path(headers: ['Race', 'Number of Volunteers'], data_method: VOLUNTEERS_BY_RACE.underscore, filename: VOLUNTEERS_BY_RACE, model: 'Office', format: :csv), target: '_blank'
= link_to "Total Volunteers Grouped By Spoken Language", dashboard_download_report_path(headers: ['Language', 'Total Volunteer Hours'], data_method: VOLUNTEERS_BY_LANGUAGE.underscore, filename: VOLUNTEERS_BY_LANGUAGE, model: 'User', format: :csv), target: '_blank'