- @data.each do |office_name, users|
  %h2= office_name

  %table
    %thead
      %tr
        %th Name
        %th Email
        %th Role
        -# %th Actions
    %tbody
      - users.each do |user|
        %tr
          %td= "#{user.first_name} #{user.last_name}"
          %td= user.email
          %td= user.role
          -# %td
