= form_tag(dashboard_users_path, method: :get) do
  Name
  \#{text_field_tag :name}
  Email
  \#{text_field_tag :email}
  Role
  \#{text_field_tag :role}
  Role
  \#{text_field_tag :accepted?}

  \#{submit_tag 'Search', class: "btn btn-info"}

- @data.each do |office_name, users|
  %h2= office_name

  %table
    %thead
      %tr
        %th Name
        %th Email
        %th Role
        %th Invitation Status
    %tbody
      - users.each do |user|
        %tr
          %td= user
          %td= user.email
          %td= user.role_display
          %td= user.invitation_accepted_at ? 'Accepted' : 'Not yet accepted'
