%h1 Volunteer statistics for #{@current_user.name}
-# = react_component("DashboardReportsDateRangePicker/index")

- if current_user.served_needs.any?
  - served_needs = current_user.served_needs.where("needs.start_at < ?", Time.zone.now).order('start_at')
  %p
    %strong First Need Served:
    %span= served_needs.first.start_at.strftime("%m/%d/%Y")
  %p
    %strong Last Need Served:
    %span= served_needs.last.start_at.strftime("%m/%d/%Y")
  %p
    %strong Total Hours Volunteered:
    %span= User.total_volunteer_hours_by_user(@current_user, nil, nil).values.first.to_i
  %p
    %strong Total Children Served:
    %span= User.total_children_by_user(@current_user, nil, nil)
- else
  %p
    Complete at least one shift to see statistics here.