- content_for :page_header do
  .header-text Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render 'devise/shared/error_messages', resource: resource
  .field
    = f.label :email do
      Email
      = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password do
      Password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation do
      Password Confirmation
      = f.password_field :password_confirmation, autocomplete: "new-password"
  = f.hidden_field :role, { value: resource.role || params['user']['role'] }
  .actions
    = f.submit "Sign up", class: 'button'
= render "devise/shared/links"
