.grid-x.grid-margin-x.align-middle.margin-top-3
  .cell.auto
  .cell.small-12.medium-9.large-6
    .card
      .card-divider
        COVID-19 Vaccination status
      .card-section
        - if current_user.covid_19_vaccinated == false
          %p You have reported that you are not fully vaccinated. State mandates require that you are fully vaccinated against COVID-19 before serving in any DCYF building.
          %p= link_to "Update my vaccination status", edit_user_registration_path
        - else
          = form_for(current_user, as: :user, url: registration_path(:user), html: { method: :put }) do |f|
            = render 'devise/shared/error_messages', resource: current_user
            = f.label :covid_19_vaccinated do
              Have you been fully vaccinated against COVID-19?
              = f.label :covid_19_vaccinated_true do
                = f.radio_button :covid_19_vaccinated, true, required: true
                Yes
              = f.label :covid_19_vaccinated_false do
                = f.radio_button :covid_19_vaccinated, false, required: true
                No

            .grid-x.grid-padding-x.grid-margin-y
              .cell
                .actions
                  = f.submit "Submit", class: 'button'

  .cell.auto