%fieldset.fieldset
  %legend Start Date/Time
  .grid-x
    .cell
      = f.label :start_at, class: 'start-at-label' do
        = f.datetime_select :start_at, {default: 1.hour.from_now, discard_year: true, minute_step: 15}, class: 'start-at-input', disabled: action == :edit
%fieldset.fieldset
  %legend Expected Duration
  .grid-x.grid-margin-x
    .cell.small-12.medium-3
      = f.label :expected_duration, class: 'duration-label' do
        = f.number_field :expected_duration, min: 60, max: 480, step: 15, class: 'duration-input', disabled: action == :edit
        .middle Minutes
    .cell.small-12.medium-9
      .slider{ data: { slider: true, step: '15', start: '60', end: '480', initial_start: @need.expected_duration }, class: (action == :edit ? 'disabled' : '') }
        %span.slider-handle{ role: 'slider', data: { slider_handle: true}, tabindex: '1', aria: { controls: 'need_expected_duration' } }
        %span.slider-fill{ data: { slider_fill: true } }
.grid-x
  .cell
    = f.label :office_id do
      Office
      = f.select :office_id, options_for_select(policy_scope(Office).map { |o| [o.name, o.id]}), { include_blank: false }, class: 'single', disabled: action == :edit
.grid-x
  .cell
    = f.label :number_of_children do
      Number of Children
      = f.number_field :number_of_children, min: 1, max: 20, step: 1
.grid-x
  .cell
    = f.label :age_range_ids do
      Age Range of Children
      = f.select :age_range_ids, options_for_select(AgeRange.all.each.with_object({}) { |a, o| o["#{a.min}-#{a.max}"] = a.id }, @need.age_range_ids), { include_blank: true }, {class: 'multiple', multiple: true, name: 'need[age_range_ids][]'}
.grid-x
  .cell
    = f.label :race do
      Preferred Culture
      = f.collection_select :race, Race.all, :id, :name, class: 'single', include_blank: true
.grid-x
  .cell
    = f.label :preferred_language_id do
      Preferred Language
      = f.select :preferred_language_id, options_for_select(Language.all.map { |l| [l.name, l.id] }), { include_blank: true }, class: 'single'