- content_for :page_header do
  .header-text OMD Scheduler

.grid-x
  .cell.medium-7.large-9.small-order-1.medium-order-2
    %table.hover.stack.striped
      %thead
        %tr
          %th Office
          %th # of Children
          %th Start At
          %th Shifts
      %tbody
        - @needs.each do |need|
          %tr
            %td= link_to need.office.name, need_path(need)
            %td= link_to need.number_of_children, need_path(need)
            %td= link_to need.start_at.strftime('%l:%M%P %A, %b %d'), need_path(need)
            %td= link_to need.shifts.count, need_path(need)
  .cell.medium-5.large-3.small-order-2.medium-order-1
    = react_component("blockouts/Scheduler/index", { blockouts: current_user.blockouts.excluding_occurrences.shuffle, authenticity_token: form_authenticity_token }, {id: 'scheduler'})

