- content_for :page_header do
  .header-text Need at #{@need.start_at.strftime('%l:%M%P on %A, %b %d')}
.grid-x.grid-padding-x.align-center
  .cell.small-6.medium-4.large-3 Office
  .cell.small-6.medium-4.large-3= @need.office.name
.grid-x.grid-padding-x.align-center
  .cell.small-6.medium-4.large-3 Preferred Language
  .cell.small-6.medium-4.large-3= @need.preferred_language.name
.grid-x.grid-padding-x.align-center
  .cell.small-6.medium-4.large-3 Start Time
  .cell.small-6.medium-4.large-3= @need.start_at.strftime('%l:%M%P on %A, %b %d')
.grid-x.grid-padding-x.align-center
  .cell.small-6.medium-4.large-3 Number of Children
  .cell.small-6.medium-4.large-3= @need.number_of_children
