- content_for :page_header do
  .header-text Need at #{@need.effective_start_at.strftime('%l:%M%P on %A, %b %d')}
- if policy(@need).edit? && !@need.expired?
  - content_for :nav_buttons do
    = link_to 'Manage Shifts', need_shifts_path(@need), class: 'button primary'
    = link_to 'Edit Need', edit_need_path(@need), class: 'button secondary'
    = link_to 'Delete Need', need_path(@need), method: :delete, class: 'button alert', data: { confirm: 'Are you sure you want to destroy this Need?' }
%h2 Details
.grid-x.align-center
  .cell.small-12.medium-8.large-6
    .grid-x.grid-padding-y.align-middle
      .cell.small-5
        %div Start Time
      .cell.small-7.text-center
        %strong= @need.effective_start_at.strftime('%l:%M%P')
        %br
        = @need.start_at.strftime('%A, %b %d')
    .grid-x.grid-padding-y.align-middle
      .cell.small-5
        %div Office
      .cell.small-7.text-center
        %strong= @need.office
    .grid-x.grid-padding-y.align-middle
      .cell.small-5
        %div Requested By
      .cell.small-7.text-center
        %strong= @need.user.name
    .grid-x.grid-padding-y.align-middle
      .cell.small-5
        %div Number of Children
      .cell.small-7.text-center
        %strong= @need.number_of_children
    .grid-x.grid-padding-y.align-middle
      .cell.small-5
        %div Age Range(s)
      .cell.small-7.text-center
        %strong= @need.age_ranges.join(', ')
    .grid-x.grid-padding-y.align-middle
      .cell.small-5
        %div Preferred Language
      .cell.small-7.text-center
        %strong= @need.preferred_language.name
%h2 Shifts
.shifts-container
  - @shifts.each do |shift|
    %hr
    .grid-x.grid-margin-y.grid-margin-x.align-spaced.align-middle
      .cell.small-12.medium-9.large-10.shift{ class: shift.user_id ? 'secondary claimed' : 'success unclaimed' }
      
        .grid-x.grid-padding-x.grid-padding-y
          .cell.text-center
            %strong= [shift.start_at.strftime('%I:%M%p'), shift.user&.to_s].compact.join(' - ')
      .cell.small-12.medium-3.large-2
        - if !shift.expired? && shift.user_id == current_user.id
          = link_to need_shift_path(@need, shift, shift: { user_id: nil }), method: :put, class: 'button alert expanded' do
            .grid-x.hide-for-small-only.align-middle
              .cell.small-6.small-text-right.medium-3
                %i.fas.fa-calendar-minus
              .cell.small-6.medium-9.text-left
                Release Shift
            .grid-x.show-for-small-only
              .cell
                %i.fas.fa-calendar-minus
                Release Shift
        - if !shift.expired? && shift.user_id == nil
          = link_to need_shift_path(@need, shift, shift: { user_id: current_user.id }), method: :put, class: 'button success expanded' do
            .grid-x.hide-for-small-only.align-middle
              .cell.small-6.small-text-right.medium-3
                %i.fas.fa-calendar-plus
              .cell.small-6.small-text-left.medium-9.text-left
                Claim Shift
            .grid-x.show-for-small-only
              .cell
                %i.fas.fa-calendar-plus
                Claim Shift
