- content_for :page_header do
  .header-text Need at #{@need.start_at.strftime('%l:%M%P on %A, %b %d')}
.grid-x.grid-padding-y
  .cell.small-12.medium-6.large-3
    .grid-x.text-center
      .cell
        %h4
          %strong Number of Children
      .cell= @need.number_of_children
  .cell.small-12.medium-6.large-3
    .grid-x.text-center
      .cell
        %h4
          %strong Start Time
      .cell= @need.start_at.strftime('%l:%M%P on %A, %b %d')
  .cell.small-12.medium-6.large-3
    .grid-x.text-center
      .cell
        %h4
          %strong Office
      .cell= @need.office.name
  .cell.small-12.medium-6.large-3
    .grid-x.text-center
      .cell
        %h4
          %strong Preferred Language
      .cell= @need.preferred_language.name

.grid-x
  - @shifts.each do |shift|
    .cell.button.hollow.shift{ class: shift.user_id ? 'secondary claimed' : 'success unclaimed' }
      .grid-x.grid-padding-x.grid-padding-y
        .cell.small-3= shift.duration
        .cell.small-3= shift.start_at.strftime('%I:%M%p')
        .cell.small-6
          - if shift.user_id == current_user.id
            = form_for shift, url: need_shift_path(@need, shift), method: :patch do |f|
              = f.hidden_field(:user_id, value: nil)
              = f.submit 'Unassign Self', class: 'button alert'
          - if shift.user_id == nil
            = form_for shift, url: need_shift_path(@need, shift), method: :patch do |f|
              = f.hidden_field(:user_id, value: current_user.id)
              = f.submit 'Assign Self', class: 'button success'
.grid-x.grid-padding-x.align-center
  .cell.small-6.medium-4.large-3
    = link_to edit_need_path(@need) do
      %button.button.secondary Edit
  .cell.small-6.medium-4.large-3
    = link_to need_path(@need), method: :delete, data: { confirm: 'Are you sure you want to destroy this Need?' } do
      %button.button.alert Delete
