- content_for :page_header do
  .header-text Change your password
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = render 'devise/shared/error_messages', resource: resource
  = f.hidden_field :reset_password_token
  .grid-x.align-center
    .cell.small-12.medium-8.large-4
      = f.label :password do
        New Password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
      = f.password_field :password, autofocus: true, autocomplete: "new-password"
  .grid-x.align-center
    .cell.small-12.medium-8.large-4
      = f.label :password_confirmation do
        Confirm New Password
        = f.password_field :password_confirmation, autocomplete: "off"
  .grid-x.align-center
    .cell.small-12.medium-8.large-4
      .actions
        = f.submit "Change my password", class: 'button'
  .grid-x.align-center.grid-padding-y
    .cell.small-12.medium-8.large-4
      .actions
        = render "devise/shared/links"
