- content_for :page_header do
  .header-text Shift Management
.shifts-container
  = link_to new_need_shift_path(@need) do
    .grid-x.grid-margin-y.grid-margin-x
      .cell.small-12.medium-6.shift.add-shift
        .grid-x.grid-padding-x.grid-padding-y
          .cell.text-center
            Add Shift
            %i.fas.fa-plus
  - @shifts.each_with_index do |shift, i|
    %hr
    .grid-x.grid-margin-y.grid-margin-x.align-spaced.align-middle
      .cell.small-12.medium-6.shift{ class: shift.user_id ? 'secondary claimed' : 'success unclaimed' }
        .grid-x.grid-padding-x.grid-padding-y
          .cell.text-center
            %strong= shift.start_at.strftime('%I:%M%p')
            - if shift.user
              \-
              = link_to shift.user.name, admin_user_path(shift.user)
      .cell.small-12.medium-6
        .button-group.stacked-for-small
          %button.button.success{ data: { open: "volunteerModal#{i}" } } Assign Volunteer
          - if shift.user_id
            = link_to 'Remove Volunteer', need_shift_path(@need, shift, { shift: { user_id: nil }, redirect_to: need_shifts_path(@need) }), method: :put, class: 'button warning', data: { confirm: 'Are you sure you want to unassign this Volunteer?' }
          = link_to 'Delete Shift', need_shift_path(@need, shift, redirect_to: need_shifts_path(@need)), method: :delete, class: 'button alert', data: { confirm: 'Are you sure you want to delete this Shift?' }
        .reveal{ id: "volunteerModal#{i}", data: { reveal: true } }
          %button.close-button{ data: { close: true }, aria: { label: 'Close Modal' } }
            %i.fas.fa-times
          = form_for shift, url: need_shift_path(@need, shift), method: :patch do |f|
            = f.collection_select :user_id, @need.office.users.volunteers, :id, :name
            = f.submit 'Update', class: 'button success'
  = link_to new_need_shift_path(@need) do
    .grid-x.grid-margin-y.grid-margin-x
      .cell.small-12.medium-6.shift.add-shift
        .grid-x.grid-padding-x.grid-padding-y
          .cell.text-center
            Add Shift
            %i.fas.fa-plus