- content_for :page_header do
  .header-text= t 'devise.invitations.edit.header'
= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
  = devise_error_messages!
  = f.hidden_field :invitation_token, readonly: true
  .grid-x.grid-padding-x
    .medium-6.xlarge-3.cell
      = f.label :first_name do
        First Name
        = f.text_field :first_name, placeholder: 'Enter your first name'
    .medium-6.xlarge-9.cell
      = f.label :last_name do
        Last Name
        = f.text_field :last_name, placeholder: 'Enter your last name'
  - if f.object.class.require_password_on_accepting
    %fieldset.fieldset
      %legend Password
      %em Password must be at least 6 characters long
      = f.label :password do
        = f.password_field :password, placeholder: 'Password'
      = f.label :password_confirmation do
        = f.password_field :password_confirmation, placeholder: 'Password Confirmation'

  .grid-x.grid-padding-x
    .cell
      = f.label :time_zone do
        Time Zone
        = f.select :time_zone, ActiveSupport::TimeZone.us_zones.map(&:name), prompt: 'Select Timezone...'
  - if profile_attributes_required?(resource)
    .grid-x.grid-padding-x
      .cell
        = f.label :race_id do
          Race
        = f.collection_select :race_id, Race.all, :id, :name, include_blank: true
    .grid-x.grid-padding-x
      .cell.auto
        = f.label :first_language_id do
          First Language
        = f.collection_select :first_language_id, Language.all, :id, :name, include_blank: true
      .cell.auto
        = f.label :second_language_id do
          Second Language
        = f.collection_select :second_language_id, Language.all, :id, :name, include_blank: true
    .grid-x.grid-padding-x
      .cell
        = f.label :birth_date do
          Birth Date
          = f.date_field :birth_date
    .grid-x.grid-padding-x
      .cell
        = f.label :phone do
          Phone Number
          = f.telephone_field :phone, placeholder: '(___) ___-____', data: { inputmask: "'mask': '(999) 999-9999'" }
    .grid-x.grid-padding-x
      .cell
        = f.label :resident_since do
          U.S. Resident Since
          = f.date_field :resident_since
    .grid-x.grid-padding-x
      .cell
        = f.label :discovered_omd_by do
          How did you discover Office Moms & Dads?
          = f.text_area :discovered_omd_by
    .grid-x.grid-padding-x
      .cell.medium-6
        %fieldset.fieldset
          = f.check_box :medical_limitations
          = f.label :medical_limitations do
            Do you have any medical limitations?
          = f.label :medical_limitations_desc do
            If so, please describe below:
            = f.text_area :medical_limitations_desc
      .cell.medium-6
        %fieldset.fieldset
          = f.check_box :conviction
          = f.label :conviction do
            Have you ever been convicted of a felony?
          = f.label :conviction_desc do
            If so, please describe below:
            = f.text_area :conviction_desc
  .grid-x.grid-padding-x
    .cell= f.submit t("devise.invitations.edit.submit_button"), class: 'button'
