- content_for :page_header do
  .header-text= t 'devise.invitations.edit.header'
= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f|
  = render 'devise/shared/error_messages', resource: resource
  = f.hidden_field :invitation_token, readonly: true

  = render 'devise/shared/profile_fields', resource: resource, f: f

  .grid-x.grid-padding-x.grid-margin-y
    .cell= f.submit t("devise.invitations.edit.submit_button"), class: 'button'
