.new-invitation.card{style: 'width: 600px; max-width: 100%'}
  .card-divider
    %h5= t 'devise.invitations.new.header'
  .card-section
    = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
      = devise_error_messages!
      - resource.class.invite_key_fields.each do |field|
        .grid-x.grid-padding-x
          .cell
            = f.label field do
              #{field.capitalize}*
              = f.text_field field, required: true
      .grid-x.grid-padding-x
        .cell
          = f.label :role do
            Role*
            = f.select(:role, nil, { prompt: 'Select a role...' }, required: true, class: 'single') do
              = options_for_select(invite_options_for_select)
      .grid-x.grid-padding-x
        .cell
          = f.label :office_ids do
            Office(s)*
            = f.select(:office_ids, nil, {}, required: true, multiple: true, class: 'multiple') do
              = options_for_select(offices_for_select(current_user), resource.office_ids)
      .grid-x.grid-padding-x
        .cell
          = f.submit t("devise.invitations.new.submit_button"), class: 'button float-right'
          = link_to 'cancel', root_path, class: 'clear button secondary float-right'
