- if field.data
  %fieldset.attribute--nested
    - field.nested_form.attributes.each do |attribute|
      - next if attribute.data.blank?
      %div
        %dt.attribute-label
          = t(                                                    |
              "helpers.label.#{resource_name}.#{attribute.name}", |
              default: attribute.name.titleize,                   |
            )                                                     |
        %dd{:class => "attribute-data attribute-data--#{attribute.html_class}"}
          = attribute.data
