= semantic_form_for ['admin', resource]do |f|
  = f.semantic_errors 
  = f.inputs do
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :role, as: :select,     :collection => User::ROLES
    = f.input :race
    = f.input :first_language
    = f.input :second_language
    = f.input :time_zone
    = f.input :offices, as: :check_boxes
    = f.input :age_ranges, as: :check_boxes
    = f.input :birth_date
    = f.input :phone
    = f.input :resident_since
    = f.input :discovered_omd_by, :input_html => { :rows => 1, :maxlength => 100 }
    = f.input :medical_limitations
    = f.input :medical_limitations_desc, :input_html => { :rows => 5, :maxlength => 250, :placeholder => 'Please explain'}
    = f.input :conviction
    = f.input :conviction_desc, :input_html => { :rows => 5, :maxlength => 250, :placeholder => 'Please give a brief explanation' }
    = f.actions 