- if current_user.admin?
  = link_to admin_root_path do
    .grid-x.menu-item
      .cell.small-9.text-right Admin
      .cell.small-2.small-offset-1
        %i.fas.fa-user-cog
- if current_user.admin? || current_user.coordinator?
  = link_to dashboard_users_path do
    .grid-x.menu-item
      .cell.small-9.text-right Users
      .cell.small-2.small-offset-1
        %i.fas.fa-users
- if current_user.admin? || current_user.coordinator? || current_user.social_worker?
  = link_to dashboard_reports_path do
    .grid-x.menu-item
      .cell.small-9.text-right Reports
      .cell.small-2.small-offset-1
        %i.fas.fa-file-alt
= link_to edit_user_registration_path do
  .grid-x.menu-item
    .cell.small-9.text-right Profile
    .cell.small-2.small-offset-1
      %i.fas.fa-sliders-h
- if current_user.scheduler?
  = link_to new_need_path, class: 'hide-for-medium' do
    .grid-x.menu-item
      .cell.small-9.text-right New Need
      .cell.small-2.small-offset-1
        %i.fas.fa-plus
  = link_to new_user_invitation_path do
    .grid-x.menu-item
      .cell.small-9.text-right Invite User
      .cell.small-2.small-offset-1
        %i.fas.fa-user-plus
= link_to destroy_user_session_path, method: :delete do
  .grid-x.menu-item
    .cell.small-9.text-right Sign Out
    .cell.small-2.small-offset-1
      %i.fas.fa-sign-out-alt