.title-bar.align-middle.align-justify{ data: { responsive_toggle: 'responsive-menu', hide_for: 'medium' } }
  .top-bar-left
    = link_to root_path do
      = image_pack_tag 'images/omd-logo.png', class: 'logo'
  .top-bar-right
    %button.menu-icon{ type: 'button', data: { toggle: 'responsive-menu' } }
.nav
  .grid-container
    .top-bar#responsive-menu
      .top-bar-left
        = link_to root_path do
          = image_pack_tag 'images/omd-logo.png', class: 'logo'
      .top-bar-right
        - if user_signed_in?
          - if policy(Need).new?
            = link_to new_need_path do
              %button.button.success
                %fa.fas.fa-plus
                New Need
          = render partial: 'dropdown_menu'
        - else
          = link_to new_user_session_path do
            %button.button Sign In