.nav
  .grid-container
    .grid-x.grid-padding-y
      .cell.shrink
        = link_to root_path do
          = image_pack_tag 'media/images/omd-logo-horiz.png', class: 'logo'
      .cell.auto.align-right.align-middle.grid-x
        - if user_signed_in?
          - if policy(Need).new? && !controller_name.in?(%w(registrations verifications))
            = link_to new_need_path, class: 'button success show-for-medium' do
              %fa.fas.fa-plus
              New Need
          %button.show-for-medium.button.dropdown-menu-button{ data: { toggle: 'profile-dropdown' } }
            = current_user.name
            %i.fas.fa-caret-down
          .dropdown-pane.show-for-medium#profile-dropdown{ data: { dropdown: true, position: 'bottom', alignment: 'right' } }
            = render partial: 'dropdown_menu'
          %div{ data: { responsive_toggle: 'mobile-dropdown', hide_for: 'medium' } }
            %button.menu-icon{ data: { toggle: 'mobile-dropdown'} }
        - else
          = link_to 'Sign In', new_user_session_path, class: 'button'
- if user_signed_in?
  .hide-for-medium#mobile-dropdown
    = render partial: 'dropdown_menu'