!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Scheduler
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: current_user.role}
    = render partial: 'nav'
    .grid-container
      - flash.each do |name, msg|
        .callout.margin-top-1{ class: flash_classes[name] }= msg
      = yield
