!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Scheduler
    = csrf_meta_tags
    = csp_meta_tag
    :javascript
      window.timeZone = '#{Time.zone.tzinfo.name}'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css", :integrity => "sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==", :referrerpolicy => "no-referrer", :rel => "stylesheet"}/
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = favicon_link_tag image_path('omd-icon.png')
    = favicon_link_tag image_path('omd-icon.png'), rel: 'apple-touch-icon', type: 'image/png'
  %body
    = render partial: 'nav'
    - if content_for :page_header
      .page-header
        .grid-container
          .grid-x.grid-padding-x
            .cell= yield :page_header
    - if content_for :nav_buttons
      .grid-container
        .button-group.align-right.stacked-for-small
          = yield  :nav_buttons
    .grid-container
      - flash.each do |name, msg|
        .callout.margin-top-1{ class: flash_classes[name], data: { closable: true } }
          %button.close-button{ 'aria-label': 'Dismiss Alert', data: { close: true } }
            %i.fas.fa-times
          = msg
      = yield
