!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Scheduler
    = csrf_meta_tags
    = csp_meta_tag
    :javascript
      window.timeZone = '#{Time.zone.tzinfo.name}'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'nav'
    - if content_for :page_header
      .page-header
        .grid-container
          .grid-x.grid-padding-x
            .cell= yield :page_header
    .grid-container
      - flash.each do |name, msg|
        .callout.margin-top-1{ class: flash_classes[name], data: { closable: true } }
          %button.close-button{ 'aria-label': 'Dismiss Alert', data: { close: true } }
            %i.fas.fa-times
          = msg
      = yield
